# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# 

general {
    # The possible speeds of the auto clicker, from 0-8.  Must have 9 values.
    # Default: [500], [200], [100], [50], [20], [10], [5], [2], [1]
    # 500 = 25s, 200 = 10s, 100=5s, 50=2.5s, 20=1s
    S:Speeds <
        200
        100
        60
        40
        20
        10
        5
        2
        1
     >

    # If the auto clicker uses RF
    # Default: false
    B:"Uses RF"=true

    # The RF cost per tick for each speed, from 0-8.  Must have 9 values.  Unused if "Uses RF" = false
    # Default: [0], [3], [5], [10], [25], [50], [100], [250], [500]
    # 4rf = 1eu, so 7eu/t recipe is 28rf/t
    S:"RF Costs" <
        0
        0
        0
        0
        28
        112
        112
        112
        112
     >

    # How much power the auto clicker can store.  Also the max input rate.  Unused if "Uses RF" = false
    # Default: 50000; Range: [0 ~ 2147483647]
    I:"Max Power Storage"=50000

    # Items that may not be held by the clicker
    # Default: [minecraft:bedrock]
    S:"Item Blacklist" <
        minecraft:bedrock
     >
}


